*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#menu{
  display: flex;
  justify-content: space-around;
  width: 80%;
}
main{
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}